.Header {
  background: #ffc44f;
}

.logo-app {
  display: flex;
}

.Header h2 {
  font-size: 30px;
  text-align: left;
  padding: 0 20px;
}

.download {
  display: flex;
}

.btn-dark {
  margin: 5px;
}
