.city-name {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}

.WeatherInfo {
  text-align: left;
  padding-left: 100px;
}

.data-items {
  font-size: 15px;
  color: gray;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
