.WeatherForecast canvas {
  display: initial;
}

.WeatherForecast {
  border-radius: 10px;
  padding: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin: 20px 50px;
}
/*.row {
  margin-right: 50px;
  margin-left: 50px;
}*/
