.temperature {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-style: bold;
}

.Weather {
  margin-bottom: 100px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: black;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 120px;
  color: #882eb3;
}

.btn button {
  font-size: 15px;
  display: block;
  background: #882eb3;
  padding: 10px 20px;
  color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border: none;
  margin: 0 auto;
}
.container {
  background: red;
  margin: 0px 100px;
}

.Search {
  text-align: center;
}
