.Weather {
  margin-bottom: 100px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: black;
}

.weather h2 {
  font-family: "Baloo Paaji 2", cursive;
  font-size: 120px;
  color: #882eb3;
}

.btn button {
  font-size: 15px;
  display: block;
  background: #882eb3;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 0 auto;
}
.container {
  margin: 0px 100px;
}

.Search {
  text-align: center;
}
