.Weather {
  margin-bottom: 100px;
}

h1 {
  font-size: 30px;
  color: black;
}

.btn button {
  font-size: 15px;
  display: block;
  background: #882eb3;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 0 auto;
}
.container-weather {
  margin: 50px 100px;
}

.Search {
  text-align: center;
}

.slogan-section {
  padding: 10px;
  text-align: left;
}
